/* Set padding to keep content from hitting the edges */

body{
    background-image: url("/img/iStock-1800436345.jpg");
    font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
    
}



.cardGrande {
    background-color: #FAD075;
    border-radius: 10px;
    border-top: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}


.nuovo{
    height:200px;




/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
